

<div class="card">
    <div class="card-body">

        <h1 style="margin-bottom:50px"> Maior desafio</h1>

        <p>
            O maior desafio (e provavelmente o mais diferente ate o momento)
            que ja enfrentei na área foi provavelmente
            a criação do sistema focolare, um site que eu construi com 
            um colega de trabalho que lidava com o gerenciamento 
            financeiro e de usuários de um movimento católico.
        </p>


        <p>
            Utilizei ASP.NET MVC 5 para fazer aquele sistema, simplesmente por ser 
            o framework principal da empresa na qual trabalhava na época, e servia muito bem 
            para o escopo inicial do sistema.
        </p>
        <p>
            Atuei principalmente no back-end, já que aprendi a lidar com front-end nesse 
            mesmo sistema, usando bootstrap e me baseando em algumas telas já feita pelo outro colega.
            Meu foco foi no parte do sistema que gerenciava novos usuários e convertia dados de 
            um banco antigo do antigo sistema deles, para o novo banco SQL do novo sistema.
        </p>
        <p>
            E o motivo pelo qual esse foi o maior desafio, foi devido a constantes mudança profundas
            que os clientes pediam constantemente, e organizar o codigo mediante a tantas mudanças importantes
            foi para dizer o mínimo, complicado.
        </p>

    </div>
</div>